<div class="jumbotron">
  <h1>License Renewal</h1>
  <p class="lead">
    Looks like you're trying to renew your driving license?
  </p>
  <p class="lead">
    <b>You're in luck!</b>
  </p>
  <p class="lead">
    We've just done a seamless integration with GoCardless using their brand spanking new hosted payment pages and they're blooming marvellous.
  </p>
</div>
<div class="panel panel-info">
  <div class="panel-heading">Renew your license</div>
  <div class="panel-body">
    <form action='/purchase' method='post' class="form">

      <div class="form-group">
        <label>Which package do you want?</label>
        <div class="radio">
          <label>
            <input type="radio" name="package" value="bronze">
            <b>Bronze</b> - Straight up license, no bells and whistles here
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="package" value="silver">
            <b>Silver</b> - You get your license, but we'll photoshop you first
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="package" value="gold">
            <b>Gold</b> - All of the above, but your license is finished in gold leaf
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="package" value="platinum" checked>
            <b>Platinum</b> - All of the above, plus kittens
          </label>
        </div>

        <div class="select">
          <label>
            I want to pay with:
            <select name="scheme">
              <option value>I don't mind</option>
              <option value="bacs">UK Direct Debit</option>
              <option value="sepa_core">SEPA Direct Debit</option>
            </select>
          </label>
        </div>
        <hr/>
        <button type="submit" class="btn btn-success btn-block">BUY</button>
      </form>
    </div>
  </div>
</div>
