<div class="jumbotron">
  <h1>License Renewal</h1>
  <p class="lead">
    Congratulations on setting up a direct debit!
  </p>

  <p class="lead">
    You now have a <b><%= @package.upcase %></b> license.
  </p>
</div>

<center>
<img src="/images/winning.gif" />
</center>

